Current Host: {{ ansible_hostname }} <br>
Host IP Address: {{ ansible_enp2s0['ipv4']['address'] }} <br>
Server list: <br>
{% for host in groups['Web'] %}
{{ host }} <br>
{% endfor %}


{{ job_friendly_name }} #{{ job.id }}
